@page
@model SemesterWork.Pages.Logout
@{
    ViewData["Title"] = "Выход";
}
@{
    <div class="uk-section uk-background-primary uk-section-full">
        <div class="uk-container">

        </div>
    </div>
}